<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <title>Linkers Order</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="/it-next/images/fevicon/fevicon.png" type="image/gif" /> -->
    <link rel="icon" type="image/x-icon" href="/it-next/images/fevicon/fevicon.ico">


    <link rel="stylesheet" href="/it-next/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/it-next/css/style.css" />

    <link rel="stylesheet" href="/it-next/css/responsive.css" />

    <link rel="stylesheet" href="/it-next/css/colors1.css" />

    <link rel="stylesheet" href="/it-next/css/custom.css" />

    <link rel="stylesheet" href="/it-next/css/animate.css" />

    <link rel="stylesheet" type="text/css" href="/it-next/revolution/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="/it-next/revolution/css/layers.css" />
    <link rel="stylesheet" type="text/css" href="/it-next/revolution/css/navigation.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <style>
        /* Set the size of the div element that contains the map */
        
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
</head>

<body id="default_theme" class="it_service">

    <div class="bg_load"> <img class="loader_animation" src="/it-next/images/loaders/loader_1.png" alt="#" style="width: 300px; height: 300px;" /> </div>


    <header id="default_header" class="header_style_1">

        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="full">
                            <div class="topbar-left">
                                <ul class="list-inline">
                                    <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">linkers</span> </li>
                                    <li> <span class="topbar-label"><i class="fa fa-envelope"></i></span> <span class="topbar-hightlight"><a href="#">Info@linkers.io</a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 right_section_header_top">
                        <div class="float-left">
                            <div class="social_icon">
                                <ul class="list-inline">
                                    <li>
                                        <a class="fab fa-facebook" href="https://facebook.com/linkersIoT" title="Facebook" target="_blank"></a>
                                    </li>

                                    <li>
                                        <a class="fab fa-twitter" href="https://twitter.com/linkersIoT" title="Twitter" target="_blank"></a>
                                    </li>
                                    <li>
                                        <a class="fab fa-linkedin" href="https://www.linkedin.com/company/linkersiot" title="LinkedIn" target="_blank"></a>
                                    </li>
                                    <li>
                                        <a class="fab fa-instagram" href="https://www.instagram.com/linkersIoT/" title="Instagram" target="_blank"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="float-right">
                            <div class="make_appo"> <a class="btn white_btn" href="#">Book a
                                    Demo</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

                        <div class="logo">
                            <a href="it_home.html"><img src="/it-next/images/logos/OrderLinkLogo.png" alt="logo" /></a>
                        </div>

                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

                        <div class="menu_side">
                            <div id="navbar_menu">
                                <ul class="first-ul">
                                    <li> <a class="active" href="#Home">Home</a> </li>

                                    <li> <a id="con" href="#contact">Contact</a></li>
                                    <li> <a href="#">Client Login</a></li>
                                    <li> <a href="#">Regester</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </header>

    <div id="slider" class="section main_slider">
        <div class="container-fuild">
            <div class="row">
                <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
                        <ul>
                            <li data-index="rs-1812" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="/it-next/images/it_service/slide1.png" data-rotate="0" data-saveperformance="off"
                                data-title="Order Services" data-description="">
                                <img src="/it-next/images/it_service/slide1.png" alt="#" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0"
                                    data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                                <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" id="slide-270-layer-1012" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:300;s:300;" data-start="750" data-basealign="slide"
                                    data-responsive_offset="on" data-responsive="off" style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);">
                                </div>

                                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" id="slide-18-layer-112" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-fontsize="['70','70','70','35']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="chars"
                                    data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 6; white-space: nowrap;">Order Services
                                </div>
                            </li>
                            <li data-index="rs-181" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="/it-next/images/it_service/slide2.webp" data-rotate="0" data-saveperformance="off"
                                data-title="Reduce Implementation Time" data-description="">

                                <img src="/it-next/images/it_service/slide2.webp" alt="" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0"
                                    data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                                <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" id="slide-270-layer-101" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:300;s:300;" data-start="750" data-basealign="slide"
                                    data-responsive_offset="on" data-responsive="off" style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);">
                                </div>

                                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" id="slide-18-layer-11" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-fontsize="['70','70','70','35']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="chars"
                                    data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 6; white-space: nowrap;">Reduce Implementation Time </div>
                            </li>
                            <li data-index="rs-18" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="/it-next/images/it_service/slide3.jpg" data-rotate="0" data-saveperformance="off" data-title="Save Time"
                                data-description="">

                                <img src="/it-next/images/it_service/slide3.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0"
                                    data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                                <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" id="slide-270-layer-10" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:300;s:300;" data-start="750" data-basealign="slide"
                                    data-responsive_offset="on" data-responsive="off" style="z-index: 5;  background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);">
                                </div>

                                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" id="slide-18-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-fontsize="['70','70','70','35']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="chars"
                                    data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 6; white-space: nowrap;">Save Time</div>
                    </div>
                    </li>
                    </ul>
                    <div class="tp-static-layers"></div>
                </div>
            </div>
        </div>
    </div>
    </div>



    <div class="section padding_layout_1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_center">
                            <h2>Features</h2>
                            <p class="large">Choose the Best Features!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="full text_align_center margin_bottom_30">
                        <div class="center">
                            <div class="icon"> <img src="/it-next/images/it_service/i1.png" alt="#" /> </div>
                        </div>
                        <h4 class="theme_color">Be Social</h4>
                        <p>Give your customers an easy way to order directly from their favorite social media channels.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="full text_align_center margin_bottom_30">
                        <div class="center">
                            <div class="icon"> <img src="/it-next/images/it_service/dashboars.png" alt="#" /> </div>
                        </div>
                        <h4 class="theme_color">Dashboard
                        </h4>
                        <p>Access valuable data for every order you receive and get to know your customers better than ever.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="full text_align_center margin_bottom_30">
                        <div class="center">
                            <div class="icon"> <img src="/it-next/images/it_service/mag.jpg" alt="#" /> </div>
                        </div>
                        <h4 class="theme_color">Insights
                        </h4>
                        <p>Accept orders, manage delivery times, and update your menu using your own customized dashboard through a tablet.

                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="full text_align_center margin_bottom_30 margin_0">
                        <div class="center">
                            <div class="icon"> <img src="/it-next/images/it_service/i4.jpg" alt="#" /> </div>
                        </div>
                        <h4 class="theme_color">Marketing
                        </h4>
                        <p>Use the OderLink to include order button on a standard website or have your own customised website and mobile Apps.


                        </p>
                    </div>
                </div>

            </div>

            <hr>




            <div class="card-a">
                <div class="thumbnail"><img class="left" src="../it-next/images/it_service/card1.webp" /></div>
                <div class="right">
                    <p class="firstHeader">Give your customers the chance to order online with simple steps
                    </p>

                    <div class="separator"></div>
                    <p id="paragraph"> Allow customers to order from your own website or from the template we offer you in simple and easy steps. ..
                    </p>
                </div>

            </div>


            <div class="card-b">
                <div class="thumbnail"><img class="left" src="../it-next/images/it_service/order online click.png" />
                </div>
                <div class="right">
                    <p class="firstHeader">Share your OrderLink and open a new world of possibilities

                    </p>

                    <div class="separator"></div>
                    <p id="paragraph"> With our OrderLink technology you can add it to your website or share on any social media channels as an ordering system gateway to your business. .
                    </p>
                </div>

            </div>



            <div class="card-a">
                <div class="thumbnail"><img class="left" src="../it-next/images/it_service/card3.webp" /></div>
                <div class="right">
                    <p class="firstHeader">Branch and Driver Apps for better delivery

                    </p>

                    <div class="separator"></div>
                    <p id="paragraph"> Stay on top of your business and mange processing orders efficiently with our Branch App and deliver the love you are making to customers with our Driver App. Its your business and your brand boosting your customer experience.


                    </p>
                </div>

            </div>


            <div class="card-b">
                <div class="thumbnail"><img class="left" src="../it-next/images/it_service/i1.png" /></div>
                <div class="right">
                    <p class="firstHeader">Your Customers, Your Data!

                    </p>

                    <div class="separator"></div>
                    <p id="paragraph"> Take back control over your customer engagement, interact with them more than ever and listen to their experiences to improve your BRAND.


                    </p>
                </div>

            </div>



        </div>
    </div>



    <div id="myModal" class="modal">

        <div class="modal-content">
            <div class="modal-header">

                <i id="leftArrow" style='font-size:24px' class='fas'>&#xf104;</i>

                <span class="close">&times;</span>

            </div>
            <div class="modal-body">

                <img src="<%=resultKey.coverImage %>" style="width:100%; height:200px">
                <br>
                <h1 class="shopName">
                    <%=resultKey.shopName %>
                </h1>
                <p class="cityName">
                    <i class="fas fa-map-marker-alt"></i>
                    <%=resultKey.city %>
                        <%=resultKey.district %>
                </p>

                <p class="deliveryFees">
                    <%=resultKey.deliveryFees%>
                </p>
                <p class="deliveryTime">
                    <i class="far fa-clock"></i> Delivery Time :
                    <%=resultKey.deliveryTime %> Min <i class="fas fa-shopping-bag"></i>
                        <%=resultKey.minimumOrder %> RS , Minimum Order
                </p>
                <div class="stickeNav">

                    <nav class="navAnk">
                        <%categoryKey.map((key,idx)=> {%>

                            <a href="#<%=key%>" id="ankerCateg" class="ank">
                                <%=key%>
                            </a>

                            <%})%>

                    </nav>
                </div>

                <hr>


                <%categoryKey.map((key,idx)=> {%>
                    <li id="<%=key%>" class="categName">
                        <%=key%>
                            <%productKey.map((item,idx) => {%>
                                <div id="<%=item.productName.replace(/\s/g, '')%>" class="theProduct productC">
                                    <% if(item.category === key){ %>


                                        <img id="<%=item.productName.replace(/\s/g, '')%>" class="productImg" src="<%=item.productImages%>" style="width: 100px; height: 100px; border-radius: 10%; ">


                                        <p id="<%=item.productName.replace(/\s/g, '')%>" class="productName">
                                            <%=item.productName%>
                                        </p>
                                        <p id="<%=item.productName.replace(/\s/g, '')%>" class="productDesc">
                                            <%=item.description%>
                                        </p>
                                        <p id="<%=item.productName.replace(/\s/g, '')%>" class="productC " style="color: black; padding-left:27px;">

                                            <span class="productPrice"><%=item.price%></span>
                                        </p>

                                        <p class="groupName">
                                            <%=item.groupName%>
                                        </p>


                                        <form class="featureName2">
                                            <%if(item.featureName[0] !== ''){%>
                                                <%item.featureName.forEach ((itm,idx) =>{%>

                                                    <input type="checkbox" id="featureName" class="<%=item.extraPrice[idx]%>" value="<%=itm%>" name="featureName">

                                                    <%=itm%>

                                                        <div id="thePrice">
                                                            <span class="productC"> <%=item.extraPrice[idx]%> </span>
                                                        </div>
                                                        <br>
                                                        <br>

                                                        <%})%>
                                                            <%}%>

                                        </form>

                                </div>
                                <hr>
                                <%}%>
                                    <%})%>
                                        <% })%>
                    </li>

            </div>
            <div class="modal-footer">

                <section id="addToCartSection">

                    <button id="addToCartBtn" class="cartBtn productC">
                        <span>Add To Cart</span>
                        <svg width="13px" height="10px" viewBox="0 0 13 10">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                        <i id="chartIcon" style="font-size:24px" class="fa">&#xf07a;</i><span class="spano"></span>

                    </button>

                </section>

                <section id="viewBascket">
                    <button id="viewCartBtn" class="cartBtn productC">
                        <span>View Cart</span>
                        <svg width="13px" height="10px" viewBox="0 0 13 10">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                        <i id="chartIcon" style="font-size:24px" class="fa">&#xf07a;</i><span class="spano1"></span>

                    </button>

                </section>

                <section id="viewOrder">
                    <button id="viewCartBtn" class="cartBtn productC">
                        <span>review order</span>
                        <svg width="13px" height="10px" viewBox="0 0 13 10">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                    </button>
                </section>
            </div>

        </div>
    </div>


    <div id="productPage">
        <img id="productimg" src="" style="width: 100%; height: 50%; ">
        <br>
        <h1 id="productNameHeader"></h1>
        <p id="productDesc"></p>
        <p id="productPriceParagraph"></p>

        <hr>
        <p id="groupName"></p>

        <form>
            <label id="features" class="featureName productC"> </label>

        </form>

        <form class="quantityForm">
            <div class="value-button" id="decrease1" value="Decrease Value">-</div>
            <input type="number" id="number" value='1' />
            <div class="value-button" id="increase1" value="Increase Value">+</div>
        </form>

        <div id="quantityDiv"></div>

    </div>



    <div id="viewCart">
        <!-- 
            <h1 style="width: 67%;" class="productName3"></h1>
            <p class="productPrice3"></p>
            <p class="extraPrice"></p>
            <p class="deliveryFees"></p> -->
    </div>






    <div class="orderOnline">
        <div id='order'>
            <p id='grow'>Grow your revenue with new sales channels</p>
            <p id="paragraph2">
                Get commission-free orders from all your online channels with a world-class ordering system integrated with your website, Instagram, Facebook, Messenger or WhatsApp.
            </p>

            <div class="wrapper">
                <button id="myBtn">
                    Order Now!
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>


        </div>
    </div>







    <div id="ProSlider">
        <div id="threeSlides">

            <div class="mySlides fade">
                <img class="imgs" src="../it-next/images/it_service/card1.webp">
            </div>
            <div class="mySlides fade">
                <img class="imgs" src="../it-next/images/it_service/card3.webp">
            </div>
            <div class="mySlides fade">
                <img class="imgs" src="../it-next/images/it_service/slide1.png">
            </div>
            <br>
            <div>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </div>






    <section id="sec" class="timeline">
        <div>
            <div class="sign">
                <span class="fast-flicker">S</span>tep<span class="flicker">
                    <br>By</span>Step
            </div>

        </div>
        <div class="container">
            <div class="timeline-item">
                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInLeft">
                    <p class="secondHeader">Create an Account
                    </p>
                    <div class="date">Step One</div>
                    <p>Add Menu & Promotions .
                    </p>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInRight">
                    <p class="secondHeader">Add Branches

                    </p>
                    <div class="date">Step Two</div>
                    <p>Add Drivers

                    </p>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInLeft">
                    <div class="date">Step Three</div>
                    <p class="secondHeader">Add OrderLink to your Website
                    </p>
                    <blockquote>Or Get your Own !
                    </blockquote>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInRight">
                    <p class="secondHeader">Receive Orders
                    </p>
                    <div class="date">Step Four</div>
                    <p>Spread the Joy .
                    </p>
                </div>
            </div>
        </div>
    </section>







    <div class="modal fade" id="search_bar" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2 col-xs-10 col-xs-offset-1">
                            <div class="navbar-search">
                                <form action="#" method="get" id="search-global-form" class="search-global">
                                    <input type="text" placeholder="Type to search" autocomplete="off" name="s" id="search" value="" class="search-global__input">
                                    <button class="search-global__btn"><i class="fa fa-search"></i></button>
                                    <div class="search-global__note">Begin typing your search above and press return to search.
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer_style_2">
        <div class="container-fuild">
            <div class="row">
                <div class="map_section">
                    <div id="map"></div>
                </div>
                <div class="footer_blog">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="main-heading left_text">
                                <h2>GET SOSIAL </h2>
                            </div>
                            <p>Get in touch & you can find us Bellow.</p>
                            <ul class="social_icons">
                                <li>
                                    <a class="fab fa-facebook" href="https://facebook.com/linkersIoT" title="Facebook" target="_blank"></a>
                                </li>

                                <li>
                                    <a class="fab fa-twitter" href="https://twitter.com/linkersIoT" title="Twitter" target="_blank"></a>
                                </li>
                                <li>
                                    <a class="fab fa-linkedin" href="ttps://www.linkedin.com/company/linkersiot" title="LinkedIn" target="_blank"></a>
                                </li>
                                <li>
                                    <a class="fab fa-instagram" href="https://www.instagram.com/linkersIoT/" title="Instagram" target="_blank"></a>
                                </li>
                            </ul>
                        </div>


                        <div id="contact" class="col-md-6">
                            <div class="main-heading left_text">
                                <h2>Contact us</h2>
                            </div>
                            <p>Linkers Team<br>
                                <span style="font-size:18px;"><a href="tel:+971585640500">
                                        +971585640500
                                        +966564405900</a></span></p>
                            <div class="footer_mail-section">
                                <form>
                                    <fieldset>
                                        <div class="field">
                                            <input placeholder="Email" type="text">
                                            <button class="button_custom"><i class="fa fa-envelope"
                                                    aria-hidden="true"></i></button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cprt">
                    <p> © 2020 Linkers Technology | Orderlink

                    </p>
                </div>
            </div>
        </div>
    </footer>


    <script src="/it-next/js/jquery.min.js"></script>
    <script src="/it-next/js/bootstrap.min.js"></script>
    <script src="/it-next/js/menumaker.js"></script>
    <script src="/it-next/js/wow.js"></script>

    <script src="/it-next/js/custom.js"></script>
    <script src="/it-next/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="/it-next/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/it-next/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="/it-next/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/it-next/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/it-next/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/it-next/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="/it-next/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/it-next/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/it-next/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/it-next/revolution/js/extensions/revolution.extension.video.min.js"></script>



    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {
                lat: -25.344,
                lng: 131.036
            };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 4,
                    center: uluru
                });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>



    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_hwsMkawSLtSX-MG0Kxd5UxUj6PsFt7A&callback=initMap">
    </script>
    <script src="https://unpkg.com/scrollreveal"></script>

    <script src="/it-next/js/app.js"></script>

</body>

</html>